$dark-lava: #463f3aff;
$middle-grey: #8a817cff;
$pale-silver: #bcb8b1ff;
$alabaster: #f4f3eeff;
$melon: #e0afa0ff;
$dark-lava-opacity: #463f3a33;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.matchItem{
  font-family: 'Lato' !important;
  .competitionsName{
    background: $dark-lava;
    color: $melon;
    padding: .4em 0.8rem;
    font-size: 11px;
  }
  .particularMatch{
    display: grid;
    grid-template-columns: 45% 10% 45%;
    cursor: pointer;
    color: $melon;
    .particularClub,
    .particularScore{
      font-family: 'Lato' !important;
      padding: .1rem 0.5rem;
      margin-top: 8px;
      font-size: 13px;
      text-align: center;
    }
    .particularClub{
      text-align: left;
    }.particularClub:first-child{
      text-align: right;
    }
  }
}